{% extends "network/layout.html" %}

{% block body %}

  <h5>Explore</h5>

  {% for post in ex_user_posts %}
    <div className="each post">
      {{ post.content }}
      <a href="{% url 'profile' post.user %}">@{{ post.user }}</a>
      <form action="{% url 'like_post' %}" method='POST' class='like-form' id="{{ post.id }}">
        {% csrf_token %}
        <input type='hidden' name='post_id' id='post_id' value='{{ post.id }}'>
        <button class='like-btn' id="like-btn{{ post.id }}" type="submit">
          {% if user not in post.liked.all %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </button>
      </form>
      <strong id="num-like{{ post.id }}">{{ post.liked.all.count }}</strong>
      {{ post.created_on }}
    </div>
  {% empty %}
    <div>No posts.</div>
  {% endfor %}
  
{% endblock %}