{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}myTweety{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'network/jquery-3.5.1.js' %}"></script>
        <script src="{% static 'network/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'network/infinite.min.js' %}"></script>
        <script src="https://kit.fontawesome.com/3685670ef9.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
            <a class="navbar-brand" href="{% url 'index' %}">myTweety</a>
          
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
              <ul class="navbar-nav mx-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' user.username %}"><strong>@{{ user.username }}</strong></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class='body'>
          {% block body %}
          {% endblock %}
        </div>
       
        {% block scripts %}
          <script>
            $(document).ready(function(){
              $('.like-form').submit(function(e){
                e.preventDefault()
                console.log('works!')
      
                const post_id = $(this).attr('id')
      
                const likeText = $(`#like-btn${post_id}`).html()
                const trim = $.trim(likeText)
      
                const url = $('.like-form').attr('action')
      
                $.ajax({
                  type: 'POST',
                  url: url,
                  data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                  },
      
                  success: function() {
                    console.log('success')
      
                    $.ajax({
                      type: 'GET',
                      url: 'http://127.0.0.1:8000/serialized/',
                      success: function(response) {      
                        $.each(response, function(index, element){
                          if (post_id == element.id) {
                            if (trim == '<span id="heart"><i class="fa fa-heart" aria-hidden="true"></i></span>') {
                              console.log('unlike')
                              $(`#like-btn${post_id}`).html('<span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>')
                            } else if (trim == '<span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>') {
                              console.log('like')
                              $(`#like-btn${post_id}`).html('<span id="heart"><i class="fa fa-heart" aria-hidden="true"></i></span>')
                            } else {
                              console.log('oops')
                            }
                          
                          $(`#num-like${post_id}`).html(element.liked)
      
                          }
                        })
                      },
                      error: function(error){
                        console.log(error)
                      }
                    })
                  },
      
                  error: function(error){
                    console.log('error', error)
                  }
                })
              })
            })

            var infinite = new Waypoint.Infinite({
              element: $('.infinite-container')[0],
              onBeforePageLoad: function() {
                $('.spinner-grow').show();
              },
              onAfterPageLoad: function() {
                $('spinner-grow').hide();
              }
            });
            
          </script>
        {% endblock scripts %}
    </body>
</html>