body {
  background-color: #F0F2F5;
}

.body {
  margin-left: 400px;
  margin-right: 400px;
}

.flex-container {
  display: flex;
}

.flex-child:first-child  {
  flex-grow: 2;
  margin-top: 30px;
  margin-right: 40px;
}

.flex-child.right {
  margin-top: 30px;
}

/* Home LHS */
/* Adding new post */

.new-post{ 
  position: relative;
}
  
.new-content {
    display: inline-block;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.new-content-btn {
    margin-top: 8px;
    width: 100px;
    height: 40px;
    color: grey;
    font-weight: bold;
    background: #fae29c;
    float: right;
    border: 2px solid #fae29c;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.new-content-btn:hover {
  background: #f5dc95;
  border: 2px solid #f5dc95;
  color: grey;
}

/* Newsfeed */

.all-posts {
  position: relative;
  margin-top: 70px;
}

.each-post {
  background-color: #fff;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid white;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  margin-left: 10%;
}

.post-name {
  font-size: large;
  color: black;
  font-weight: bold;
}

.post-name:hover {
  color: black;
  text-decoration: underline; 
}

.post-user {
  font-size: medium;
  color: grey;
}

.post-user:hover {
  color: grey;
  text-decoration: none; 
}

.post-date {
  font-size: small;
  color: grey;
  font-style: italic;
}

.post-content {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: large;
}

.like-form {
  float: right;
}

.like-btn {
  border: none;
  background: none;
}

.like-btn:focus {
  outline: none;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}

/* Home RHS */
/* Trending post */

.top-likes {
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #fff;
}

.post-content.sm {
  font-size: medium;
}

/* Who to Follow */

.top-users {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #fff;
  width: 100%;
}

.each-user {
  width: 100%;
  display: inline-block;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.title {
  margin-bottom: 20px;
}

.user-left {
  float: left;
  width: 25%;
}

.user-right {
  vertical-align: middle;
}


/* Explore LHS */

.flex-child.leftexp {
  flex: 2;
  margin-top: 20px;
}

.top-likes.exp {
  margin-top: 10px;
}

.all-posts.exp {
  margin-top: 10px;
}

/* Explore RHS */

.flex-child.rightexp {
  margin-top: 0;
}